---
layout: default
title: Chiang Mai Lawyer Online
description: >-
  Professional legal service in Chiang Mai, Thailand. I am experienced in
  managing business operations.
og_image: /images/aom-wide.jpg
headshot_image: /images/aom-cropped.jpg
services:
  - services_image: /images/passport.jpg
    name: Visa Services
    id: serv1
    description: >-
      Get a visa to live in Thailand. I will help you to find the best visa
      solution for your needs and budget. Specializing in Business Visas and
      Work Permits, I also offer packages for Education Visas, Volunteer Visas,
      and Retirement Visas.
  - services_image: /images/contracts.jpg
    name: Contracts
    id: serv2
    description: >-
      Specializing in creating and reviewing contracts. Make sure your interests
      are represented and your contracts are compliant with and enforceable by
      Thai law. Create employment contracts, partnership agreements, and more.
  - services_image: /images/company.jpg
    name: Company Registration
    id: serv3
    description: >-
      Set up a business in Thailand and let me take care of the bureaucracy and
      paperwork. My package includes registering a company limited, getting your
      business visa and work permit as the company director, and opening a
      corporate bank account.
  - services_image: /images/notary.jpg
    name: Notary Public
    id: serv4
    description: Get your documents and paperwork certified by a Thai notary public.
testimonials:
  - quote: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    headline: A great client review
    client: 'Client Name, Business Name, Country'
    testimonials_image: /images/GD_desert photo bwcrop (1).jpg
  - quote: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    headline: A great client review
    client: 'Client Name, Country'
    testimonials_image: /images/GD_desert photo bwcrop (1).jpg
  - quote: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    headline: A great client review
    client: 'Client Name, Country'
    testimonials_image: /images/GD_desert photo bwcrop (1).jpg
---

<header id="header" class="bg-header pad-section text-center pad-all-m">
  <h1 class="pad-top-s page-title">{{page.title}}</h1>
  <div class="grid-center pad-top-s">
    <img class="col-2" src="images/aom-logo-1.png" />
  </div>
  <h2 class="text-white editable">
    Professional Legal &amp; Business Services
  </h2>
  <p class="text-white pad-all-xs editable">
    Are you looking for a trusted partner to take care of business paperwork and company administration? I help my clients do business in Thailand legally and efficiently.<br /><br />From starting a new company to managing the day to day paperwork, I am experienced in more than just the letter of the law, I'm here to remove the hassles of business administration, saving you time and money.
  </p>
  <div class="pad-all-xs">
    <a href="#about"><button class="button-left">Learn More</button></a>
    <a href="#services"><button class="button-right">Services</button></a>
  </div>
</header>
<section id="about" class="pad-section text-center-mobile">
  <div class="grid pad-top-m pad-bottom-s">
    <div class="col-6_sm-12 text-right text-center-mobile pang">
      <img src="{{page.headshot_image}}" alt="Benjamat Prasertsang - Headshot" />
    </div>
    <div class="col-6_sm-12">
      <h2 class="pad-bottom-xs editable">
        About
      </h2>
      <p class="editable">
        <br /><br />Hello, I'm Benjamat Prasertsang, Registered Attorney and Notary.<br /><br />A graduate of Chiang Mai University Faculty of Law, I'm experienced in business and legal consulting. From incorporating a new business to providing ongoing legal counsel and planning your finances, taxes, and human resources management, I can assist you in all aspects of business administration.<br /><br />My goal is to give clients peace of mind so they can focus on growing their business. Paperwork, planning, and dealing with bureaucracy are my specialty, let me take care of the hassles of managing a business in Thailand for you. I will look out for your interests and ensure your business is operating efficiently and in compliance with the law.<br /><br />I look forward to working with you.
      </p>
    </div>
  </div>
</section>
<section id="services" class="bg-grey pad-section">
  <h2 class="text-center pad-top-m pad-bottom-xs">Services</h2>
  <div class="grid-center">
    {% for services in page.services%}
    <div class="col-4_sm-12 margin-all-xs services grid-middle-center-noGutter" style="background: linear-gradient(rgba(44,66,81,0.7), rgba(44,66,81,0.7)), url({{services.services_image}});">
      <div class="col-12">
        <h4 class="pad-bottom-xs">{{services.name}}</h4>
        <button id="{{services.id}}" class="button-service">Learn More</button>
      </div>
    </div>
    <div id="{{services.id}}Modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="text-center pad-bottom-s">{{services.name}}</h3>
        <p class="text-center-mobile">{{services.description}}</p>
      </div>
    </div>
    {% endfor%}
  </div>
  <div class="text-center pad-bottom-m grid-center">
    <h3 class="col-12 pad-top-xs editable">
      And more, including litigation, family law, and real estate review.
    </h3>
    <p class="col-6_sm-12 editable">
      Need a lawyer in Chiang Mai? Get in touch today.
    </p>
    <a class="col-12" href="#contact"><button class="button-main">Send Me a Message</button></a>
  </div>
</section>
<section id="references" class="pad-top-s pad-section">

  <h2 class="text-center pad-top-xs">References</h2>
   <!-- this is the container for the testimonials which should cycle through like a gallery -->
   <div class="grid-middle">

     <div class="col-1">
       <!-- this is the button or icon to click left to see previous testimonial -->
       <a id="flex-left" href=""><i class=" fa fa-angle-left nudge-left" aria-hidden="true"></i></a>
     </div>

     <div id="testimonial" class="col-10">
       <!-- these are the testimonial itself -->
       <div class="flexslider">
         <ul class="slides">
         {% for testimonials in page.testimonials %}
           <li>
             <div class="grid-center">
               <h3 class="col-12 text-red text-center"><span class="text-dark quote">"</span>{{testimonials.headline}}</h3>
               <div class="col-3_sm-12 text-center">
                 <img class="testimonials-image" src="{{testimonials.testimonials_image}}" alt="client testimonial image - {{testimonials.client}}" />
               </div>
               <div class="col-8_sm-12">
                 <blockquote>{{testimonials.quote}}</blockquote>
                 <h6 class="text-right pad-top-xs">- {{testimonials.client}}</h6>
               </div>
             </div>
           </li>
         {% endfor %}
         </ul>
          <!-- .slides -->
       </div>
         <!-- .flexslider -->
     </div>

     <div class="col-1 text-right">
       <!-- this is the button or icon to click right to see next testimonial -->
       <a id="flex-right" href=""><i class="fa fa-angle-right nudge-right" aria-hidden="true"></i></a>
     </div>

     <!-- <div class="text-center pad-bottom-m">
       <h4 class="pad-bottom-s editable">Read other reviews and connect with Benjamat Prasertsang on…</h4>
       <div class="grid-center">
         <div class="col-7_md-12 grid-center-spaceAround">
           <a class="col-4_sm-5 pad-all-xs" href="https://th.linkedin.com/in/pang-wichiantiab-0739a7131" target=blank><img src="/images/linkedin.png" alt="linkedin logo" /></a>
           <a class="col-4_sm-5 pad-all-xs" href="https://www.upwork.com/o/profiles/users/_~01cbb398c1585a6aac/" target=blank><img src="/images/upwork.png" alt="upwork logo" /></a>
         </div>
       </div>
     </div> -->

   </div>

</section>

<section id="contact" class="bg-contact grid-center" stlye="height: 70vh;">
  <div class="col-6_sm-8 pad-top-xs pad-bottom-s">
    <h2 class="text-blue text-center pad-top-s pad-bottom-s">Contact</h2>
    <form method="POST" action="https://formspree.io/f/xvovbodk">
      <input type="name" name="name" placeholder="Your Name" />
      <input type="hidden" name="_next" value="http://chiangmailawyer.online.com/#references" />
      <input type="email" name="email" placeholder="Your email" />
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit" class="button-contact">Send</button>
    </form>
  </div>
</section>
